*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.big{
    font-size:30vh;
    color: #ff4b33;
    }
    
    .pt-6{
        padding-top: 10vh;
    }
    
    .button4{
        width:12%;
        height:7vh;
        background-color: #ff4b33;
        color: white;
        border: none;
        border-radius: 10px;
        font-size:2.5vh;
    }

@media screen and (min-width: 235px) {
      .button4{
        width: 40%;
      }  
      .pt-6{
        width:100%;
        height: auto;
      }
    }