*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.big{
    font-size:25vh;
    color: #ff4b33;
    }
    
    .pt-6{
        padding-top: 10vh;
    }
    
    .button4{
        width:12%;
        height:7vh;
        background-color: #ff4b33;
        color: white;
        border: none;
        border-radius: 10px;
        font-size:2.5vh;
    }

    .fa-1{
      display: flex;
      flex-direction: row;
    }

@media screen and (max-width: 992px) {
      .button4{
        width: 40%;
      }  
      .pt-6{
        width:100%;
        height: auto;
      }

      .fa-1{
        display: flex;
        flex-direction: column;
      }
    }
@media screen and (max-width: 768px) {
      .button4{
        width: 40%;
      }  
      .pt-6{
        width:100%;
        height: auto;
      }

      .fa-1{
        display: flex;
        flex-direction: column;
      }
    }
@media screen and (max-width: 576px) {
      .button4{
        width: 40%;
      }  
      .pt-6{
        width:100%;
        height: auto;
      }

      .fa-1{
        display: flex;
        flex-direction: column;
      }

      .big{
        font-size:1000%;
      }
    }

@media screen and (max-width: 235px) {
  .big{
    font-size:500%;
  }
      .button4{
        width: 50%;
      }  
      .pt-6{
        width:100%;
        height: auto;
      }

      .fa-1{
        display: flex;
        flex-direction: column;
      }
    }